.title {
    text-align: left;
    color: #757373;
    margin: 0;
    padding-top: 20px;
    padding-left: 30px;
}

#title {
    border-bottom: solid #8017F7 4px;
}

body {
    background-color: white;
    margin: 0;
    font: arial;
}

.loginBtn {
    background-color:#8017F7;
    border: none;
    min-width: 200px;
    min-height: 30px;
    font-size: 15px;
    color: white;
}

.loginContainer {
    margin: 0;
    background-color: white;
    color: #C3C3C3;
    width: 1000px;
    height: 300px;
    padding-top: 2px;
    padding-left: 40px;
}

#loginTitle {
    color: grey;
    font-size: 22px;
    padding-top: 8px;
}


#loginCreate {
    font-size: 13px;
}

.introContainer {
    margin: 0;
    background-color: #8F67CA;
    color: white;
    width: 1000px;
    height: 300px;
    line-height: 30px;
    padding: 10px;
    padding-top: 15px;
}

.inputs {
    border: none;
    outline: none;
    border-bottom: solid 2px #8F67CA;
}

.introTitle {
    text-align: center;
    font-size: 22px;
    padding-top: 5px;
}

.introPage {
color: #D1CECE;
margin: auto;
margin-top: 5em;
max-width: 500px;
display: flex;
justify-content: flex-end;
align-items: center;
border: solid 2px;
}

.fPw {
    color: #821FF3;
    font-size: 12px;
}