// SCSS variables go here such as color schemes, breakpoints, fonts, etc.
// This file will be imported to all SCSS files. See App.scss

//COLORS
$dangerRed: green;
$midnight-blue: #333745;
$purple-haze: #821FF3;
$spec-blue: #5757F5;
//FONTS

//BREAKPOINTS
